@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
@import '../../assets/styles/config';

.app {
    font-family: 'Caveat', cursive;
    font-size: 1.8rem;
    font-weight: bolder;
    max-width: 35rem; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("../../assets/images/henry-be-lc7xcWebECc-unsplash.jpg");
    background-size: 85vh;
    color: $app-text;
}

.app > * {
    flex: 1 1 auto;
}