@import '../../assets/styles/config';

.kirja {
    display: flex;
    border-bottom: 1px solid $kirja-border-color;
    
}
/*
.kirja_data {
    display: flex;
    flex: content;
    justify-content: space-between;
    padding: $kirja-padding;
    font-size: 120%;
}
*/
.kirja_data {
    display: flex;
    flex: content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $kirja-padding;
}

.kirja_linkki {
    max-width: $kirja-linkki-width;
    min-width: $kirja-linkki-width;
    background: $kirja-linkki-background;
    color: $kirja-linkki-text;
    display: none;
    justify-content: center;
    align-items: center;
}

.kirja_linkki a {
    color: $kirja-linkki-text;
}

.kirja:hover .kirja_linkki {
    display: flex;
}