.kirja {
    display: flex;
    border-bottom: 1px solid black;
    color: gray;
    
}

.kirja_data {
    display: flex;
    flex: content;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 120%;
    font-weight: bold;
}