@import '../../assets/styles/config';

.kirja {
    display: flex;
    border-bottom: 1px solid $kirja-border-color;
    
}

.kirja_data {
    display: flex;
    flex: content;
    justify-content: space-between;
    padding: $kirja-padding;
    font-size: 120%;
}