$header-background: #e08d34;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #d494b1;
$scrollbar-width: 0.5rem;

$kirja-border-color: #d494b1 ;
$kirja-padding: 0.75rem ; 
$kirja-linkki-background: #d494b1 ;
$kirja-linkki-text: #ffffff;
$kirja-linkki-width: 2rem ;

$menu-height: 4rem;
$menu-background: #d494b1;
$menu-text: #ffffff;
$menu-fontsize: 1.75rem;